html, body, .cover-home {
	height: 100%;
}

.cover-home {
	background: url('../../demo/bg/bg-22.jpg') center no-repeat;
	background-size: cover;
}

nav {
	font-size: 16px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
	font-weight: 500px;
}

li,a {
	display: table;
	height: 100%;
}