@import url('https://fonts.googleapis.com/css2?family=Barlow:display=swap');

@font-face {
    font-family: 'basier_squareregular';
    src: url('./font/basiersquare-regular/basiersquare-regular-webfont.eot');
    src: url('./font/basiersquare-regular/basiersquare-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./font/basiersquare-regular/basiersquare-regular-webfont.woff2') format('woff2'),
         url('./font/basiersquare-regular/basiersquare-regular-webfont.woff') format('woff'),
         url('./font/basiersquare-regular/basiersquare-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

:root {
	--black-violet: #0e305d;
	--gray: #808996;
}

.ff-barlow {
	font-family: 'Barlow', sans-serif;
}

body {
	font-family: 'basier_squareregular';
	font-size: 15px;
}

section {
	background: white;
}
#home {
	background: url(../img/bg/bg-1.jpg) center center no-repeat;
	background-size: cover;
}

.h1 {
	font-size: 3.5rem;
}

.color-black-violet {
	color: var(--black-violet);
}

.bg-black-violet {
	background: var(--black-violet);
}

.color-gray {
	color: var(--gray);
}

.vh-50 {
	height: 50vh;
}

.circle-1 {
	height: 60px;
	width: 60px;
}

#presentation {
	background: url(../img/bg/bg-2.jpg);
	background-size: cover;
	font-size: 2.5rem;

}

.circle-2 {
	height: 80px;
	width: 80px;
}

#infos {
	background: url(../img/bg/bg-3.jpg) top left no-repeat;
	background-size: cover;
}

.bg-testi {
	background: #F8F9FA;
}

/*for carousel*/

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* Extra small and small screens */
@media (max-width: 768px) {
  
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(33.33%);
  }
  
  .carousel-inner .carousel-item-start.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-33.33%);
  }
}

/* Medium and up screens */
@media (min-width: 768px) {
  
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }
  
  .carousel-inner .carousel-item-start.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

/* Large and up screens */
@media (min-width: 992px) {
  
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(16.66%);
  }
  
  .carousel-inner .carousel-item-start.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-16.66%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
transform: translateX(0);
}

#section-4 {
	background: url(../img/bg/bg-4.jpg) top left no-repeat;
	background-size: cover;
	font-size: 2.6rem;
}

.square {
	width: 80px;
	height: 82px;
}

#message {
	background: url(../img/bg/bg-5.jpg) top left no-repeat;
	background-size: cover;
}

input:focus,
textarea:focus {
  color: white;
}

#section-5 {
	background: url(../img/bg/bg-6.jpg) top left no-repeat;
	background-size: cover;
	font-size: 2.6rem;
}

footer {
	background: #161b27;
}
footer section {
	background: #161b27;
}

.border-bottom-footer {
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

footer a:hover, i:hover {
	color: white;
}