@import url('https://fonts.googleapis.com/css2?family=Barlow:display=swap');

@font-face {
    font-family: 'basier_squareregular';
    src: url('./font/basiersquare-regular/basiersquare-regular-webfont.eot');
    src: url('./font/basiersquare-regular/basiersquare-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./font/basiersquare-regular/basiersquare-regular-webfont.woff2') format('woff2'),
         url('./font/basiersquare-regular/basiersquare-regular-webfont.woff') format('woff'),
         url('./font/basiersquare-regular/basiersquare-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

:root {
	--black-violet: #0e305d;
	--gray: #808996;
}

.ff-barlow {
	font-family: 'Barlow', sans-serif;
}

body {
	font-family: 'basier_squareregular';
}

#home {
	background: url(../img/bg/bg-1.jpg) center center no-repeat;
	background-size: cover;
}

.h1 {
	font-size: 3.5rem;
}

.color-black-violet {
	color: var(--black-violet);
}

.bg-black-violet {
	background: var(--black-violet);
}

.color-gray {
	color: var(--gray);
}

.vh-50 {
	height: 50vh;
}

.circle {
	height: 60px;
	width: 60px;
}